<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800" aria-label="Footer social media icons">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex-row items-center justify-between">
    <span class="text-sm text-gray-500 dark:text-gray-400 mb-4 md:mb-0"> {new Date().getFullYear()} - <a href="https://github.com/zgonzq" target="_blank" rel="noopener noreferrer" class="hover:underline">Gonzalo Leal</a>. Portfolio.</span>
    <ul class="flex flex-col md:flex-row flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 mb-4 md:mb-0">

    <div class="flex flex-wrap justify-center space-x-3">
      <a href="https://discord.gg/MFAAW3ahmy" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-700 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
        <img src="/icons/redes/discord.svg" alt="Discord" class="size-5"/>
      </a>
      <a href="https://github.com/zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-700 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
        <img src="/icons/redes/github.svg" alt="GitHub" class="size-5"/>
      </a>
      <a href="https://www.twitch.tv/zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-700 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
        <img src="/icons/redes/twitch.svg" alt="Twitch" class="size-5"/>
      </a>
      <a href="https://youtube.com/@zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-700 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
        <img src="/icons/redes/youtube.svg" alt="YouTube" class="size-5"/>
      </a>
      <a href="https://www.linkedin.com/in/gonzalo-leal-ferrada-5872332b0/" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-700 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
        <img src="/icons/redes/linkedin.svg" alt="LinkedIn" class="size-5"/>
      </a>
      <a href="https://x.com/zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-700 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
        <img src="/icons/redes/twitter.svg" alt="Twitter" class="size-5"/>
      </a>
    </div>
  </div>
</footer>
