---
import SectionTitle from './SectionTitle.astro';
import ProjectCard from '../dependant/ProjectCard';

const projects = [
  {
    title: "Enma Discord Bot",
    description: "Bot de Discord desarrollado con JavaScript y Node.js para gestionar comunidades y automatizar tareas.",
    tags: ["JavaScript", "Node.js", "Discord.js" , "Oracle Cloud"],
    githubUrl: "https://github.com/zGonzq/EnmaV3",
    slug: "enma-discord-bot",
    image: "/img/projects/enma-discord-bot.webp"
  },
  {
    title: "Control de Asistencia",
    description: "Sistema de control de asistencia desarrollado con Express, TypeScript y Node.js.",
    tags: ["TypeScript", "Express", "Node.js", "PM2", "Digital Ocean"],
    githubUrl: "#",
    slug: "control-asistencia",
    image: "/img/projects/control-asistencia.webp"
  },
  {
    title: "Sistema IoT de Temperatura",
    description: "Sistema de monitoreo de temperatura y humedad utilizando TypeScript, Node.js, MQTT y ESP8266.",
    tags: ["TypeScript", "Node.js", "MQTTX", "IoT"],
    githubUrl: "https://github.com/zGonzq/Sistema-TH",
    slug: "sistema-temperatura",
    image: "/img/projects/sistema-temperatura.webp"
  }
  
];
---

<section class="py-20">
  <div class="container mx-auto px-4">
    <SectionTitle title="Proyectos Destacados" icon="/icons/titles/projects.svg" />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {projects.map((project) => (
        <ProjectCard client:visible {...project} />
      ))}
    </div>
  </div>
  <div class="flex justify-center mt-8">
    <a href="/projects" class="px-6 py-2 text-white bg-primary rounded-full hover:scale-105 transition-all">
      Ver más
    </a>
  </div>
</section>