---
import { InfiniteMovingCards } from "../ui/infinite-moving-cards";
import SectionTitle from "../sections/SectionTitle.astro";

const technologies = [
  { name: "MongoDB", icon: "/icons/tech/mongodb.svg", description: "Database" },
  { name: "JavaScript", icon: "/icons/tech/javascript.svg", description: "Programming Language" },
  { name: "TypeScript", icon: "/icons/tech/typescript.svg", description: "Programming Language" },
  { name: "Java", icon: "/icons/tech/java.svg", description: "Programming Language" },
  { name: "Astro", icon: "/icons/tech/astro.svg", description: "Static Site Generator" },
  { name: "MySQL", icon: "/icons/tech/mysql.svg", description: "Database" },
  { name: "Express", icon: "/icons/tech/expressjs.svg", description: "Web Framework" },
  { name: "Node.js", icon: "/icons/tech/nodejs.svg", description: "Runtime Environment" },
  { name: "Git", icon: "/icons/tech/git.svg", description: "Version Control" },
  { name: "GitHub", icon: "/icons/tech/github.svg", description: "Version Control" },
  { name: "Tailwind", icon: "/icons/tech/tailwindcss.svg", description: "Styling Framework" },
  { name: "HTML", icon: "/icons/tech/html.svg", description: "Markup Language" },
  { name: "CSS", icon: "/icons/tech/css.svg", description: "Styling Language" }
];
---

<section class="py-20 overflow-hidden">
  <div class="container mx-auto px-4">
    <SectionTitle title="Tecnologías" icon="/icons/titles/tech.svg" />
    <div class="relative w-full">
      <InfiniteMovingCards 
        client:visible
        items={technologies}
        direction="left"
        speed="normal"
      />
    </div>
  </div>
</section>