---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Gonzalo Leal">
    <section class="container mx-auto px-4 py-24 text-center">
        <h1 class="text-6xl font-bold text-gray-900 dark:text-white">404</h1>
        <p class="text-xl text-gray-600 dark:text-gray-400">Parece que te has perdido, vuelve al <a href="/" class="text-primary hover:underline transition-colors">inicio</a>.</p>
    </section>
</Layout>