---
import SectionTitle from '../components/sections/SectionTitle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Gonzalo Leal">
    <section class="py-10">
        <div class="container mx-auto px-4">
            <SectionTitle title="Sobre Mí" icon="/icons/titles/about.svg" />
            <div class="flex justify-center">
                <div class="flex flex-col md:flex-row items-center md:items-start py-8 space-y-6 md:space-y-0 md:space-x-6">
                    <img loading="lazy" src='https://res.cloudinary.com/dk5ar4inx/image/upload/t_foto/v1734574201/DSC01952-Mejorado-NR_swkosu.jpg' alt="Gonzalo Leal" class="size-72 rounded" />
                    <div class="max-w-3xl prose dark:prose-invert">
                        <p>Hola, soy Gonzalo Leal, un apasionado programador y diseñador de Temuco, Chile. Actualmente, soy estudiante de Analista Programador en la Universidad Santo Tomás de Temuco. Además, tengo un título de Gráfico de nivel Medio y siempre estoy en constante aprendizaje en el área de la programación.</p>
                        <p>Me encanta trabajar en proyectos que combinan diseño y desarrollo, y siempre estoy buscando nuevas tecnologías y metodologías para mejorar mis habilidades y conocimientos.</p>
                        <p>En mi tiempo libre, disfruto de la música, los videojuegos, y explorar nuevas herramientas y lenguajes de programación. Soy un apasionado de la cultura japonesa y los videojuegos, y me encantan los viajes. He recorrido gran parte de Chile y me gusta la fotografía.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>