---
import SectionTitle from '../components/sections/SectionTitle.astro';
import Layout from '../layouts/Layout.astro';
import { FloatingNav } from '../components/ui/floating-navbar';

const homeNavItems = [
  { name: "Inicio", link: "/" },
  { name: "Proyectos", link: "/projects" },
  { name: "Sobre mí", link: "/about" },
  { name: "Certificaciones", link: "/certifications" },
];
---

<Layout title="About - Gonzalo Leal">
    <FloatingNav 
    navItems={homeNavItems} 
    client:load
  />
    <section class="py-10">
        <div class="container mx-auto px-4">
            <SectionTitle title="Sobre Mí" icon="/icons/titles/about.svg" />
            <div class="flex justify-center">
                <div class="flex flex-col md:flex-row items-center md:items-start py-8 space-y-6 md:space-y-0 md:space-x-6">
                    <img loading="lazy" src='/profile.webp' alt="Gonzalo Leal" class="size-72 rounded" />
                    <div class="relative">
                    <div class="max-w-3xl prose dark:prose-invert">
                        <p>Hola, soy <strong>Gonzalo Leal</strong>, un apasionado programador y diseñador de <strong>Temuco, Chile</strong>. Actualmente, soy estudiante de <strong>Analista Programador</strong> en la <strong>Universidad Santo Tomás de Temuco</strong>. Además, tengo un título de <strong>Gráfico de nivel Medio</strong>, también estoy en constante aprendizaje en el área de la programación.</p>
                        <p>Me gusta trabajar en proyectos que combinan <strong>diseño y desarrollo</strong>, así mismo, estoy buscando nuevas tecnologías y metodologías para mejorar mis habilidades al igual que mis conocimientos.</p>
                        <p>En mi tiempo libre, disfruto de la <strong>música</strong>, la <strong>fotografía</strong>, también explorar nuevas herramientas y lenguajes de programación. Soy un apasionado de la <strong>cultura japonesa</strong>, los <strong>videojuegos</strong> y me encantan los <strong>viajes</strong>, de ahí que he recorrido gran parte de Chile.</p>
                        <div class="flex flex-wrap justify-center md:justify-start space-x-4">
                            <!-- Web Technologies -->
                            <img src="/icons/tech/html.svg" alt="HTML5" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="HTML5" />
                            <img src="/icons/tech/css.svg" alt="CSS3" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="CSS3" />
                            <img src="/icons/tech/javascript.svg" alt="JavaScript" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="JavaScript" />
                            <img src="/icons/tech/typescript.svg" alt="TypeScript" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="TypeScript" />
                            <img src="/icons/tech/tailwindcss.svg" alt="Tailwind CSS" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="Tailwind CSS" />
                            <img src="/icons/tech/astro.svg" alt="Astro" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="Astro" />
                            
                            <!-- Backend Technologies -->
                            <img src="/icons/tech/nodejs.svg" alt="Node.js" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="Node.js" />
                            <img src="/icons/tech/expressjs.svg" alt="Express" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="Express" />
                            <img src="/icons/tech/java.svg" alt="Java" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="Java" />
                            <img src="/icons/tech/mongodb.svg" alt="MongoDB" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="MongoDB" />
                            <img src="/icons/tech/mysql.svg" alt="MySQL" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="MySQL" />
                            
                            <!-- Utilities -->
                            <img src="/icons/tech/git.svg" alt="Git" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="Git" />
                            <img src="/icons/tech/github.svg" alt="GitHub" class="w-8 h-8 mb-2 transform transition-transform duration-200 hover:scale-110" title="GitHub" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>