---
import SectionTitle from '../components/sections/SectionTitle.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Gonzalo Leal">
    <section class="py-10">
        <div class="container mx-auto px-4">
            <SectionTitle title="Sobre Mí" icon="/icons/titles/about.svg" />
            <div class="flex justify-center">
                <div class="flex flex-col md:flex-row items-center md:items-start py-8 space-y-6 md:space-y-0 md:space-x-6">
                    <img loading="lazy" src='/profile.webp' alt="Gonzalo Leal" class="size-72 rounded" />
                    <div class="max-w-3xl prose dark:prose-invert">
                        <p>Hola, soy <strong>Gonzalo Leal</strong>, un apasionado programador y diseñador de <strong>Temuco, Chile</strong>. Actualmente, soy estudiante de <strong>Analista Programador</strong> en la <strong>Universidad Santo Tomás de Temuco</strong>. Además, tengo un título de <strong>Gráfico de nivel Medio</strong>, también estoy en constante aprendizaje en el área de la programación.</p>
                        <p>Me encanta trabajar en proyectos que combinan <strong>diseño y desarrollo</strong>, así mismo, estoy buscando nuevas tecnologías y metodologías para mejorar mis habilidades al igual que mis conocimientos.</p>
                        <p>En mi tiempo libre, disfruto de la <strong>música</strong>, la <strong>fotografía</strong>, también explorar nuevas herramientas y lenguajes de programación. Soy un apasionado de la <strong>cultura japonesa</strong>, los <strong>videojuegos</strong> y me encantan los <strong>viajes</strong>, de ahí que he recorrido gran parte de Chile.</p>
                </div>
            </div>
        </div>
    </section>
</Layout>