---
import { TypewriterEffect } from './ui/TypewriterEffect';
import Logo from './Logo.astro';
import SocialMedia from './SocialMedia.astro';
import JobStatus from './JobStatus';
---

<section class="min-h-[85vh] flex flex-col items-center justify-center">
  <div class="flex flex-col items-center text-center">
    <Logo class="size-48 mb-2" />
    <div class="h-[100px] flex items-center justify-center mt-4">
      <TypewriterEffect
        client:load
        words={["Hola, soy Gonzalo Leal"]}
        className="text-4xl sm:text-5xl font-bold text-gray-800 dark:text-white"
        cursorClassName="bg-primary"
      />
    </div>
    <div class="flex items-center justify-center text-2xl sm:text-3xl text-gray-600 dark:text-gray-300">
      <p class="max-w-2xl text-base sm:text-lg text-gray-600 dark:text-gray-300 leading-relaxed">
        Estudiante de Analista Programador de la universidad Santo Tom치s de Temuco, Chile. 
        Titulado de Gr치fico de nivel Medio y en constante aprendizaje del 치rea de la programaci칩n.
      </p>
    </div>
  </div>
  <SocialMedia class="mt-8" />
  <JobStatus client:load />


</section>
