<section class="py-5">
    <div class="container mx-auto px-4">
        <div class="flex justify-center space-x-3">
            <a href="https://discord.gg/MFAAW3ahmy" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-800 hover:dark:bg-primary-dark hover:bg-primary-light  rounded-md">
                <img src="/icons/redes/discord.svg" alt="Discord" class="size-5"/>
            </a>
            <a href="https://github.com/zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-800 hover:dark:bg-primary-dark hover:bg-primary-light  rounded-md">
                <img src="/icons/redes/github.svg" alt="GitHub" class="size-5"/>
            </a>
            <a href="https://www.twitch.tv/zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-800 hover:dark:bg-primary-dark hover:bg-primary-light  rounded-md">
                <img src="/icons/redes/twitch.svg" alt="Twitch" class="size-5"/>
            </a>
            <a href="https://youtube.com/@zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-800 hover:dark:bg-primary-dark hover:bg-primary-light rounded-md">
                <img src="/icons/redes/youtube.svg" alt="YouTube" class="size-5"/>
            </a>
            <a href="https://www.linkedin.com/in/gonzalo-leal-ferrada-5872332b0/" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-800 hover:dark:bg-primary-dark hover:bg-primary-light  rounded-md">
                <img src="/icons/redes/linkedin.svg" alt="LinkedIn" class="size-5"/>
            </a>
            <a href="https://x.com/zgonzq" target="_blank" rel="noopener noreferrer" class="bg-gray-200 flex items-center hover:scale-110 transition-all p-2 dark:bg-gray-800 hover:dark:bg-primary-dark hover:bg-primary-light  rounded-md">
                <img src="/icons/redes/twitter.svg" alt="Twitter" class="size-5"/>
            </a>
        </div>
    </div>
</section>