---
import { InfiniteMovingCards } from "./ui/infinite-moving-cards";

const technologies = [
  { name: "MongoDB", icon: "/icons/mongodb.svg" },
  { name: "JavaScript", icon: "/icons/javascript.svg" },
  { name: "TypeScript", icon: "/icons/typescript.svg" },
  { name: "Java", icon: "/icons/java.svg" },
  { name: "Astro", icon: "/icons/astro.svg" },
  { name: "MySQL", icon: "/icons/mysql.svg" },
  { name: "Express", icon: "/icons/expressjs.svg" },
  { name: "Node.js", icon: "/icons/nodejs.svg" },
  { name: "Git", icon: "/icons/git.svg" },
  { name: "GitHub", icon: "/icons/github.svg" },
  { name: "Tailwind", icon: "/icons/tailwindcss.svg" },
  { name: "HTML", icon: "/icons/html.svg" },
  { name: "CSS", icon: "/icons/css.svg" },
];
---

<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">Tecnologías</h2>
    <div class="relative w-full">
      <InfiniteMovingCards 
        client:visible
        items={technologies}
        direction="left"
        speed="normal"
      />
    </div>
  </div>
</section>